/* ---------- Подключение шрифтов ----------*/
@font-face {
	font-family: 'Harabara';
	src: url('../fonts/Harabara.eot');
	src: url('../fonts/Harabara.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Harabara.woff') format('woff'),
		 url('../fonts/Harabara.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

/* ---------- Общие стили ----------*/

body{
	position: relative;
	background-image: url(../img/background_col.jpg);
	background-color: #0d0d0d;
}


}

a{
	text-decoration: none;
}

header{

	background-image: url(../img/background_sh.jpeg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 733px;
	background-repeat: no-repeat;


}
.menu{
	
	margin-top: 630px;
	margin-left: 15px;
	height: 55px;
	width: 929px;


	background-image: url(../img/Menu_1.png);
}
.glav{
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	
	height: 41px;
	width: 207px;

	background: url(../img/Glav.png);	

}
.glav:hover{
	background: url(../img/Glav_dark.png);	
	cursor: pointer;
}


.Text_menu_Gl{

	margin-top: 5px;
	margin-left: 45px;
	color: #fffee9;
	font-size: 30px;
	font-style: italic;

}
.Text_menu_Oz{
	margin-top: 10px;
	margin-left: 20px;

}
.Text_menu_Re{
	margin-top: 10px;
	margin-left: 30px;

	
}
.Text_menu_Ko{
	margin-top: 10px;
	
	
}
.Color_A_menu{
	color: #fffee9;
	font-size: 30px;
	text-decoration: none;
	font-style: italic;
}
.Color_A_menu{
		cursor: pointer;
}
.Color_A_menu:active{
	color: #d7d7c2;
}
.Color_A_menu:hover{
	text-decoration: underline;
}
.Home{
	height: 930px;
	background-color: #000000;
}

.ImageHome{
	padding-top: 110px;
	padding-left: 260px;

}
.ImageHome img {
max-width: 700px;

}
.Home_Text{
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 20px;
	text-align: justify;
	font-size: 25px;
	color: #6a898c;
	font-family: 'Arial', Harabara, sans-serif;
	font-style: italic;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.Expectation{
height: 930px;
background-color: #fefee6;
}
.ImageExpectation img{
	padding-top: 150px;
	max-width: 450px;
}
.Expectation_Text{
	padding-top: 155px;
	font-size: 31px;
		text-align: justify;
	font-family: 'Arial', Harabara, sans-serif;
	font-style: italic;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.Summary_left{
	height: 930px;
	background-color:#efeed7;
}
.Summary_right{

height: 930px;
background-color:#fefee6;
}
.Image_Dagir img{
	max-width: 280px;
	max-height: 300px;
}
.Image_Dagir{
	  position: relative; 
	  top:120px;
	  left:5px;
	border-top: 30px;
	border: 4px solid;
	border-color: #000000;
	height: 213px;
	width: 280px;
}
.Dagir{
	position: relative; 
	top:10px;
	font-size: 50px;
	font-family: 'Arial', Harabara, sans-serif;
	color: #000000;
	text-shadow: #d600d9 0 0 2px;
	font-style: italic;
}
.Dagir:hover{
	text-shadow: green 0 0 2px;
}
.Profile{
	position: relative;
	top:25px;
	font-size: 20px;
	text-align: center;
	color:white;

}
.Button_Summary{
	position: relative;
cursor: pointer;
border-radius: 12px;
background-image: url(../img/Image_button.png);
height: 80px;
width: 280px;
top: 90px;
border-top: 20px;
}
section .Button_Summary{
	margin-top: 5px;
}
.Button_Summary:hover{
background-image: url(../img/Image_button_dark.png);	
}
.Slader{
	max-height: 300px;
	max-width: 300px;
}

.sl{
	max-height: 300px;
	max-width: 300px;
	margin-left: auto;
    margin-right: auto;
}
