/* ---------- Подключение шрифтов ----------*/
@font-face {
	font-family: 'Harabara';
	src: url('../fonts/Harabara.eot');
	src: url('../fonts/Harabara.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Harabara.woff') format('woff'),
		 url('../fonts/Harabara.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;

	
}
@font-face{
	font-family: RussoOne-Regular;
	src: url(../fonts/RussoOne-Regular.ttf);
}


/* ---------- Общие стили ----------*/

body{
	position: relative;
	background-image: url(../img/background_col.jpg);

}


}

a{
	text-decoration: none;
}

header{

	background-image: url(../img/background_sh.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 733px;
	background-repeat: no-repeat;


}
.menu{
	
	margin-top: 630px;
	margin-left: 15px;
	height: 51px;
	width: 929px;
	border-radius: 10px;

	background-image: url(../img/Menu_1.png);
}
.glav{
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	border-radius: 10px;
	height: 41px;
	width: 207px;

	background: url(../img/Glav.png);	

}
.glav:hover{
	background: url();	 
	background-color: #4b3f24; 
	cursor: pointer;
}


.Text_menu_Gl{

	margin-top: 5px;
	margin-left: 45px;
	color: #fffee9;
	font-size: 30px;
	font-style: italic;

}
.Text_menu_Oz{
	margin-top: 10px;
	margin-left: 20px;

}
.Text_menu_Re{
	margin-top: 10px;
	margin-left: 30px;

	
}
.Text_menu_Ko{
	margin-top: 10px;
	
	
}
.Color_A_menu{
	color: #fffee9;
	font-size: 30px;
	text-decoration: none;
	font-style: italic;
}
.Color_A_menu{
		cursor: pointer;
}
.Color_A_menu:active{
	color: #d7d7c2;
}
.Color_A_menu:hover{
	text-decoration: underline;
}
.Home{
	height: 930px;
	background-color: #000000;
}

.ImageHome{
	padding-top: 110px;
	padding-left: 260px;

}
.ImageHome img {
max-width: 700px;

}
.Home_Text{
	text-indent: 20px;
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 20px;
	text-align: justify;
	font-size: 25px;
	color: #6a898c;
	font-family: 'Arial', Harabara, sans-serif;
	font-style: italic;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.Expectation{
height: 930px;
background-color: #fefee6;
}
.ImageExpectation img{
	padding-top: 20px;
	max-width: 450px;
}
.Expectation_Text{
	text-indent: 20px;
	padding-top: 30px;
	font-size: 31px;
	color: #14597a;
		text-align: justify;
	font-family: 'Arial', Harabara, sans-serif;
	font-style: italic;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.Summary_left{
	height: 930px;
	background-color:#efeed7;
}
.Summary_right{

height: 930px;
background-color:#fefee6;
}
.Image_Dagir img{
	max-width: 280px;
	max-height: 300px;
}
.Image_Dagir{
	  position: relative; 
	  top:120px;
	  left:5px;
	border-top: 30px;
	border: 4px solid;
	border-color: #000000;
	height: 213px;
	width: 280px;
}
.Dagir{
	position: relative; 
	text-decoration: none;
	top:10px;
	font-size: 50px;
	font-family: 'Arial', Harabara, sans-serif;
	color: #000000;
	text-shadow: #d600d9 0 0 2px;
	font-style: italic;
}
.Dagir:hover{
	text-shadow: green 0 0 2px;
}
.Profile{
	position: relative;
	top:25px;
	font-size: 20px;
	text-align: center;
	color:white;

}
.Button_Summary{
	position: relative;
cursor: pointer;
border-radius: 12px;
background-image: url(../img/Image_button.png);
height: 80px;
width: 280px;
top: 90px;
border-top: 20px;
}
section .Button_Summary{
	margin-top: 5px;
}
.Button_Summary:hover{
background-image: url();	
background-color:  black;
}
.Slader{
	max-height: 300px;
	max-width: 300px;
}

.sl{
	max-height: 300px;
	max-width: 300px;
	margin-right: : auto;
	margin-left: auto;
}
.Slader_Contacts{
	height: 700px;
	background-image: url(../img/background_Content.jpg);
}
.Text_right_web p{
	padding-top: 10px;
	text-indent: 20px;
	color: #14597a;
	text-align: justify;
	font-size: 30px;
	color: #6a898c;
	font-family: 'Arial', Harabara, sans-serif;
	font-style: italic;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.Text_right_web img{
	margin-top: 50px;
	max-height: 300px;
	max-width: 650px;
}

.Text_right_Profil p{
	margin-top: 10px;
	color: #14597a;
	text-indent: 20px;
	text-align: justify;
	font-size: 20px;
	color: #596aa2;
	font-family: 'Arial', Harabara, sans-serif;
	font-style: italic;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.Text_right_OOP p{
	text-indent: 20px;
	text-align: justify;
	font-size: 20px;
	color: #596aa2;
	font-family: 'Arial', Harabara, sans-serif;
	font-style: italic;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.Text_right_OOP{
	margin-top: 20px;
}
.Text_right_OOP div{
float: left;
}
.C{
	margin-left: 50px;
	margin-top: 20px;
	width: 210px;
	height: 210px;
}
.C:hover{
border: 3px solid transparent;
}

.Java{
	margin-left: 50px;
	width: 250px;
	height: 250px;
}
.Java:hover{
	border: 3px solid transparent;
}

.Pascal{
	widows: 600px;
	height: 281px;
}
.Pascal:hover{
border: 3px solid transparent;
}
.C img{
	max-width: 210px;
	max-height: 210px;
}
.Java img{
	max-width: 250px;
	max-height: 250px;
}
.Pascal img{
	max-width: 600px;
}
.Text_right_OOP p a{
	color: #6d0946;
}
.Text_right_OOP p a:hover{
	color: #3c476d;
}
.Expectation .careerprofile{
	padding-top: 30px;
	height: 435px;
	width: : 743px;
}
.IMG_EX_and_text img{
max-width: 610px;
max-height: 610px;
}
.Text_right_Profil img{
padding-top: 20px;
margin-left:  10px;
}
.Phone{
	 opacity: 0.9;
	height: 217px;
	width: 940px;
	background: url(../img/Phone_Img.jpg) 100% 100% no-repeat;
	background-size: contain;
}
.mail{
	 opacity: 0.9;
	height: 217px;
	width: 940px;
	background: url(../img/mail_img.jpg) 100% 100% no-repeat;
	background-size: contain;
}
.Social{
	 opacity: 0.9;
	height: 202px;
	width: 940px;
	background: url(../img/Social_Img.jpg) 100% 100% no-repeat;
	background-size: contain;
}
.Slader_Contacts .Home__Contacts{
	margin-top: 20px;
	padding-left: 10px;
}
.Slader_Contacts .Phone{
	margin-top: 20px;
	padding-left: 10px;
}
.Slader_Contacts .mail{
	margin-top: 20px;
	padding-left: 10px;
}
.Slader_Contacts .Social{
	margin-top: 20px;
	padding-left: 10px;
}
.slick-track{
	height: 930px;
}
.Social img{
	position: relative;
	float: left;
	margin-left: 70px;
	top: 30px;
	max-width: 150px;
	max-height: 150px;
} 
.Social .Telegram{
	margin-left: 250px;
}
.Telegram:hover{
	border: 4px transparent solid;
}
.GitHub:hover{
	border: 4px transparent solid;
}
.VK:hover{
	border: 4px transparent solid;
}

.mail img{
	position: relative;
	float: left;
	margin-left: 70px;
	top:50px;
	max-width: 150px;
	max-height: 150px;
}
.mail .gmail{
margin-left: 250px;
}
.Phone p{
	position: relative;
	top: 55px;
	left: 200px;
	font-family: 'RussoOne-Regular', sans-serif;
	font-size: 81px;
	text-shadow: 0px 3px 0px #b2a98f,
             0px 14px 10px rgba(0,0,0,0.15),
             0px 24px 2px rgba(0,0,0,0.1),
             0px 34px 30px rgba(0,0,0,0.1);
}
.gmail:hover{
	border: 4px transparent solid;
	
}