/* ---------- Подключение шрифтов ----------*/
@font-face {
	font-family: 'Harabara';
	src: url('../fonts/Harabara.eot');
	src: url('../fonts/Harabara.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Harabara.woff') format('woff'),
		 url('../fonts/Harabara.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

/* ---------- Общие стили ----------*/

body{
	position: relative;
background-image: url(../img/background_col.jpg);
	background-color: #842c14

}

.cont:nth-child(n+2) {
display: none;
}


header{

	background-image: url(../img/background_sh.jpg);
	background-repeat: repeat-x;
	background-position: top center;
	min-height: 808px;
	background-repeat: no-repeat;


}
.menu{
	
	margin-top: 730px;
	margin-left: 15px;
	height: 55px;
	width: 929px;


	background-image: url(../img/Menu_1.png);
}
.glav{
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	
	height: 41px;
	width: 207px;

	background: url(../img/Glav.png);	

}
.glav:hover{
	background: url(../img/Glav_dark.png);	
	cursor: pointer;
}


.Text_menu_Gl{

	margin-top: 5px;
	margin-left: 45px;
	color: #fffee9;
	font-size: 30px;
	font-style: italic;

}
.Text_menu_Oz{
	margin-top: 10px;
	margin-left: 20px;
	cursor: pointer;
}
.Text_menu_Re{
	margin-top: 10px;
	margin-left: 30px;
	cursor: pointer;
	
}
.Text_menu_Ko{
	margin-top: 10px;
	cursor: pointer;
	
}
.Color_A_menu{
	color: #fffee9;
	font-size: 30px;
	text-decoration: none;
	font-style: italic;
}
.Color_A_menu:active{
	color: #d7d7c2;
}
.Color_A_menu:hover{
	text-decoration: underline;
}
.Home{
	height: 930px;
	background-color: #000000;
}

.ImageHome{
	padding-top: 200px;
	padding-left: 260px;

}
.ImageHome img {
max-width: 700px;

}
.Home_Text{
	margin-left: 100px;
	margin-right: 100px;
	padding-top: 20px;
	text-align: justify;
	font-size: 25px;
	color: #6a898c;
	font-family: 'Arial', Harabara, sans-serif;
	font-style: italic;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.Expectation{
height: 930px;
background-color: #fefee6;
}
.ImageExpectation img{
	padding-top: 150px;
	max-width: 450px;
}
.Expectation_Text{
	padding-top: 155px;
	font-size: 31px;
		text-align: justify;
	font-family: 'Arial', Harabara, sans-serif;
	font-style: italic;
	-moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}